[submodule "nfstream/engine/dependencies/nDPI"]
	path = nfstream/engine/dependencies/nDPI
	url = https://github.com/vuljector/nDPI
	branch = dev
[submodule "nfstream/engine/dependencies/libpcap"]
	path = nfstream/engine/dependencies/libpcap
	url = https://github.com/vuljector/libpcap
	branch = fanout-1.10.3
